@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-black-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-blackitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-bolditalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-extrabold-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-extrabolditalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-extrabolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-extralight-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-extralightitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-extralightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-italic-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-light-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-lightitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-medium-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-mediumitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-semibold-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-semibolditalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-thin-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "libre_franklin";
    src: url('assets/fonts/Libre_Franklin/librefranklin-thinitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Libre_Franklin/librefranklin-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-semibolditalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-semibold-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-lightitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-italic-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-light-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-black-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-blackitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-extralightitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-extralightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-extralight-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'source_serif_pro';
    src: url('assets/fonts/Source_Serif_Pro/sourceserifpro-bolditalic-webfont.woff2') format('woff2'),
         url('assets/fonts/Source_Serif_Pro/sourceserifpro-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}