.container {
    max-width: 1000px;

    @media(max-width: 1000px){
        padding: 0 16px;
    }

    &--head {
        @media(max-width: 1000px){
            padding: 0;
        }
    }
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.7;
    }
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
}
input::-moz-placeholder { /* Firefox 19+ */
    opacity: 1;
}
input:-ms-input-placeholder { /* IE 10+ */
    opacity: 1;
}
input:-moz-placeholder { /* Firefox 18- */
    opacity: 1;
}

input:focus, textarea:focus {
    outline: none;
}