.yearly-archive--content {

    .row--year {

        .bt-4 {
            border-top: 4px solid #191919;
        }

        .bt-4--red {
            border-top: 4px solid #BC3428;
        }

        .bb-2 {
            border-bottom: 2px solid rgba(25, 25, 25, 0.08);
        }

        .archive-year {
            padding: 1.5rem 0;
            @apply text-h5 leading-h5 font-bold text-other-dark;
        }

        .archive-post--single {
            padding: 1.5rem 0;

            .post-title {
                @apply text-h5 leading-h5 mb-0 font-bold text-other-dark;
            }
            .post-reading-time {
                @apply text-category font-medium text-other-gray-75 leading-category mb-0;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &--v2 {
        margin-bottom: 4.5rem;
        
        .row--year {
            .archive-post--single {
                &:last-child {
                    border-bottom: 2px solid rgba(25, 25, 25, 0.08);
                }
            }
        }
    }
}