

    .blog-items {
        
        .blog-single-item {
            padding: 1.5rem 0;
            border-top: 2px solid rgba(25, 25, 25, 0.08);
            
            &:last-child {
                border-bottom: 2px solid rgba(25, 25, 25, 0.08);
            }

            .post-content__title {
                font-size: 1.625rem;
                line-height: 2rem;
                margin-bottom: 0.5rem;
            }

            .post-content__reading-time {
                @apply text-category leading-category text-other-gray-75 mb-6;
            }

            .post-content__excerpt-inner {
                @apply font-body text-normal leading-normal mb-6 text-other-dark;
            }
        }
    }


