#site-footer {

    .copyrights {
        border-top: 1px solid rgba(25,25,25,0.08);

        p {
            line-height: 15px;
        }
    }

    .footer-bio {

        p {
            line-height: 1rem;
            @apply text-category font-head text-other-dark font-medium text-other-dark mb-4;
        }
    }

    .menu--footer-home {
        margin-bottom: 0;
    }

    @media(max-width: 1023px){

        .footer-bio {
            margin-top: 2rem;
        }

        #menu-footer-home {
            
            li {
                text-align: center;
                border-right: 0;
            }
        }

        
    }
}