.hero {

    max-height: 100vh;

    &--home {
        position: relative;

        .logo {
            position: absolute;
        }

        .fp-bottom {
            @media(max-height: 740px){
                @apply mb-6;
            }
        }

        .bg-wrap {
            background-position: left bottom;
            background-size: auto 100%;
            background-repeat: no-repeat;

            @media (max-width: 1023px){
                display: none;
            }

            
        }

        .container {
            z-index: 9;
        }

        .hero-title {
            @media(max-width: 1023px){
                font-size: 2.125rem !important;
                line-height: 2.125rem !important;
            }
        }

        .fp-subtitle {

            ul {

                li {
                    position: relative;
                    padding-left: 15px;

                    &:before {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 8px;
                        height: 8px;
                        background-color: #BC3428;
                        border-radius: 50%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                    }
                }
            }
        }

        
    }

    @media(max-height: 860px){
        max-height: 100%;
        height: 100%;

        .mh-600 {
            position: relative;
            min-height: 650px;
            padding-top: 80px;
            display: block;

            .fp-bottom {
                position: relative;
                margin: 20px auto;
            }
        }
    }
}

.admin-bar {

    .hero {
        height: calc(100vh - 32px);

        @media(max-height: 860px){
            height: 100%;
        }
    }
}

.home {

    .logo {
        border-bottom: 0 !important;
    }

    #menu-toggle {
        display: none;
    }
}

.section-featured {
    padding: 4rem 0;
    background-color: #f7f7f7;
}