.menu {

    ul {

        li {
            margin: 0 11px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-size: 12px;
                line-height: 15px;
                font-weight: 500;
                @apply text-other-gray-75;

                &:hover {
                    @apply text-other-dark;
                }
            }

            &.current-menu-item {

                a {
                    @apply text-other-dark line-through;
                }
            }
        }

        @media(max-width: 1023px){
            padding-top: 20px;
            padding-bottom: 0;
            width: 100%;
            
            li {
                display: block;
                margin: 12px 0;
            }
        }
    }

    &--footer {
        ul {
            @media(max-width: 1023px){
                margin: 1rem 0;
            }

            li {
                a {
                    @apply text-other-dark;
    
                    &:hover {
                        @apply text-other-gray-75;
                       
                    }
                }

                @media(max-width: 1023px){
                    li {
                        display: block;
                        text-align: center;
                        margin: 0.75rem 0;
                    }
                }
            }
        }
    }

    &--footer-home {
        margin-bottom: 2rem;

        li {
            border-right: 1px solid rgba(25,25,25, 0.75);
            margin: 0 !important;
            padding: 0 10px;
            line-height: 1rem;

            &:last-child {
                border-right: 0;
            }
        }
    }
}

.open-search-page {
    background-image: url(assets/images/icons/search.svg);
    background-size: 16px 16px;
}

.menu-wrapper {
    @media(max-width: 1023px){
        border-bottom: 2px solid #191919;
        padding-bottom: 48px;
    }
}

#menu-toggle {
    position: absolute;
    width: 24px;
    height: 16px;
    background-image: url(assets/images/icons/menu.svg);
    background-repeat: no-repeat;
    background-position: top right;
    right: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;

    &.open {
        background-image: url(assets/images/icons/menu-close.svg);
    }
}