

#shortcode-newsletter,
#newsletter-bottom,
.newsletter,
.newsletter-block,
#newsletter-tiktok {
    .af-form-wrapper {
        .af-form {
            background-color: transparent !important;
            border-radius: 3px !important;
            box-shadow: none !important;
            max-width: 100% !important;
    
            .af-body,
            .af-element {
                padding: 0 !important;
            }
    
            label {
                display: none !important;
            }
    
            .af-element {
                float: left !important;
                margin-top: 0 !important;
    
                &:first-child {
                    width: calc( 100% - 223px ) !important;

                    @media(max-width: 768px){
                        width: 100% !important;
                        max-width: 100% !important;
                        margin-bottom: 0.5rem;
                    } 
                }

                .af-textWrap {
                    input {
                        margin-top: 0 !important;
                        height: 64px;
                    }
                }
    
                &.buttonContainer {
                    width: 222px !important;
                    margin-left: 1px !important;
                    margin-top: 0 !important;
    
                    input {
                        width: 100%;
                        height: 64px;
                        background-color: #BC3428 !important;
                        width: 222px !important;
                        font-size: 20px !important;
                        @apply font-head font-bold;
                        padding: 0;
                    }

                    @media(max-width: 768px){
                        width: 100% !important;
                        max-width: 100% !important;

                        input {
                            width: 100% !important;
                            max-width: 100% !important;
                        }
                    }
                }

                @media(max-width: 768px){
                    float: none !important;
                    display: block;
                    width: 100% !important;
                    max-width: 100% !important;

                    input {
                        width: 100% !important;
                        max-width: 100% !important;
                    }
                } 
            }
        }
    }
}


#af-form-763828305 {
    .af-element.buttonContainer {
        margin-top: 0 !important;
    }
}

#af-form-969762588 {
    #af-body-969762588 {
        margin-top: 0 !important;
    }
}

#newsletter-tiktok,
.newsletter,
#newsletter-bottom {

    &--bottom {
        border-radius: 3px;

        .af-textWrap {
            input {

                &.text {
                    border-color: rgba(25, 25, 25, 0.1) !important;
                }
            }
        }
    }

    
}
.newsletter-block {
    #shortcode-newsletter {

        p,
        h4 {
            @apply text-white mb-4;
        }

        .af-form-wrapper {
            .af-form {
                max-width: 488px !important;
                .af-textWrap {
                    input {
                        height: 40px;
                    }
                }
                .buttonContainer {
                    input {
                        height: 40px;
                        padding: 0;
                    }
                }
            }
        }
    }
}

.newsletter-block {
    border-radius: 3px;
}

#newsletter-tiktok {

    .af-form {
        border: 0 !important;
    }

    input.submit {
        margin: 0 !important;
        text-transform: uppercase;
    }

    #af-form-969762588 input.submit {
        margin: 0 !important;
        padding: 0 !important;
    }
}

#front-page-newsletter {
    padding: 1.5rem;
    background-color: #fff !important;
    max-width: 500px !important;
    width: 100%;

    p {
        color: #191919;

        &.below-newsletter {
            margin-top: 1rem;
        }
    }

    .af-form-wrapper {
        .af-form {
            background-color: #fff !important;
            border-radius: 3px !important;
            box-shadow: none !important;
            width: 100%;
    
            .af-body,
            .af-element {
                padding: 0 !important;
            }
    
            label {
                display: none !important;
            }
    
            .af-element {
                margin-top: 0 !important;
                float: none !important;
                display: block;
                width: 100% !important;
                max-width: 100% !important;
    
                &:first-child {
                    width: 100% !important;
                    max-width: 100% !important;
                    margin-bottom: 1.5rem;
                    display: block;
                }

                .af-textWrap {
                    input {
                        margin-top: 0 !important;
                        height: 64px;
                    }
                }
    
                &.buttonContainer {
                    width: 100%;
                    margin-left: 0 !important;
                    margin-top: 0 !important;
    
                    input {
                        width: 100% !important;
                        max-width: 100% !important;
                        height: 64px;
                        background-color: #BC3428 !important;
                        font-size: 20px !important;
                        @apply font-head font-bold;
                        padding: 0;
                    }
                }
            }
        }
    }
}