.pagination {
    margin: 72px 0;
    text-align: center;

    ul {
        display: inline-block;

        li {
            display: inline-block;
            width: 60px;
            height: 60px;
            margin: 0 4px;
            border: 1px solid rgba(25, 25, 25, 0.08);
            text-align: center;
            border-radius: 3px;
            line-height: 60px;
            float: left;
            position: relative;

            @media(max-width: 1023px){
                width: 30px;
                height: 30px;
                line-height: 30px;
            }

            &.active,
            &:hover {
                background-color: rgba(25, 25, 25, 0.08);
            }

            &.disabled {
                background-color: transparent;
            }

            a {
                display: block;
                width: 60px;
                height: 60px;
                line-height: 60px;
                font-weight: bold;
                font-size: 20px;

                @media(max-width: 1023px){
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 12px;
                }

                
            }

            &.next a,
            &.prev a {
                font-size: 0;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    background-size: 12px 20px;
                    width: 12px;
                    height: 20px;
                    background-color: #191919;
                    -webkit-mask-image: url(assets/images/icons/arrow-right.svg);
                    mask-image: url(assets/images/icons/arrow-right.svg);
                    mask-size: 12px 20px;

                    @media(max-width: 1023px){
                        mask-size: 6px 10px;
                        background-size: 6px 10px;
                        width: 6px;
                        height: 10px;
                    }
                }
            }

            &.prev a {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }
}