.single-post,
.blog,
.page,
.archive,
.search,
.error404 {

    .featured-image {
        text-align: center;

        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .post-content {
        p {
            @apply font-body text-normal leading-normal text-other-dark mb-8;

            @media(max-width: 768px){
                font-size: 1.125rem;
                line-height: 1.875rem;
            }

            &+h2 {
                @apply mt-18;

                @media(max-width: 768px){
                    margin-bottom: 2rem;
                }
            }

            &+h3 {
                @apply mt-14;

                @media(max-width: 768px){
                    margin-bottom: 1.5rem;
                }
            }

            &+h4 {
                @apply mt-12;

                @media(max-width: 768px){
                    margin-bottom: 1rem;
                }
            }

            &+h5 {
                @apply mt-10;

                @media(max-width: 768px){
                    margin-bottom: 1rem;
                }
            }

            &+h6 {
                @apply mt-10;
            }

            &+figure {
                @apply mt-12;
            }
        }

        h1 {
            @media(max-width: 768px){
                font-size: 1.75rem;
                line-height: 2.375rem;
            }
        }

        h2 {
            @apply text-h2 leading-h2 mb-8 font-bold text-other-dark;

            @media(max-width: 768px){
                font-size: 1.625rem;
                line-height: 2.25rem;
            }
        }

        h3 {
            @apply text-h3 leading-h3 mb-6 font-bold text-other-dark;

            @media(max-width: 768px){
                font-size: 1.5rem;
                line-height: 1.85rem;
            }
        }

        h4 {
            @apply text-h4 leading-h4 mb-4 font-bold text-other-dark;

            @media(max-width: 768px){
                font-size: 1.3125rem;
                line-height: 1.6875rem;
            }
        }
        
        h5 {
            @apply text-h5 leading-h5 mb-4 font-bold text-other-dark;

            @media(max-width: 768px){
                font-size: 1.3125rem;
                line-height: 1.6875rem;
            }
        }

        h6 {
            @apply text-h6 leading-h6 mb-4 font-bold text-other-dark;

            @media(max-width: 768px){
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        a {
            @apply underline text-other-red;

            &.category__single {
                text-decoration: none;
                @apply text-other-gray-75;
            }

            &.tag__single {
                background-color: #D8D8D8;
                display: inline-block;
                text-decoration: none;
                @apply text-other-gray-75;
            }
        }

        figure,
        .wp-block-embed {
            @apply mb-12;

            figcaption {
                @apply text-category leading-category font-medium text-other-gray-75 mt-1;
            }
        }

        .wp-block-image {
            @apply mb-12;

            &.size-full {
                margin-left: -165px;
                margin-right: -165px;
                width: 1000px;

                img {
                    width: 100%;
                }

                @media(max-width: 1000px){
                    margin-left: -16px;
                    margin-right: -16px;
                    width: calc( 100% + 32px);
                }
            }
        }

        hr {

            &.wp-block-separator {
                width: 52px;
                height: 10px;
                background-image: url(assets/images/icons/hr.svg);
                background-size: 52px 10px;
                margin: 80px auto;
                border: 0;
            }
        }

        ol,
        ul {
            @apply font-body text-normal leading-normal mb-8;
            list-style-position: outside;
            margin-left: 20px;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        video,
        iframe {
            width :100%;
            margin-bottom: 2rem;
            max-width: 100%;
        }

        .mejs-container {
            display: block;
            margin-bottom: 2rem;
        }
        
        blockquote {
            border-left: 0;
            padding-left: 64px;
            position: relative;
            font-size: 0;
            @apply mb-12;

            p {
                margin-bottom: 16px;
                @apply text-other-gray-75 italic text-normal leading-normal mb-8;

                @media(max-width: 768px){
                    font-size: 1.125rem;
                    line-height: 1.875rem;
                }
            }

            cite {
                margin-top: 0;
                @apply text-category text-other-dark leading-category font-medium;
            }

            &:before {
                content: '';
                width: 48px;
                height: 40px;
                background-image: url(assets/images/icons/double-quotes.svg);
                background-size: 48px 40px;
                position: absolute;
                left: 0;
                top: 0;

            }
        }

        .wp-block-pullquote blockquote {
            margin-bottom: 0 !important;
        }
    }
}