.lists {
    margin-bottom: 4.5rem;
    padding-left: 1rem;

    &__content {

    }
}

.articles-list {
    margin-bottom: 4.5rem;

    &__single {
        border-bottom: 2px solid rgba(25, 25, 25, 0.08);
    }
}