.related-posts {
    margin: 4.5rem 0;

    &__title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: 2rem;
    }

    article {
        border-top: 4px solid #191919;
        padding: 1.5rem;
    }

    .post-content {

        &__title {
            @apply text-left font-bold text-other-dark mb-4 text-h4 leading-h4;
        }

        &__excerpt {
            @apply text-normal leading-normal text-other-dark mb-6 font-body;
        }
    }
}