.search-form-holder {
    margin-bottom: 4.5rem;
    position: relative;

    .search-form {
        width: 100%;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 31px;
            height: 31px;
            background-image: url(assets/images/icons/search.svg);
            background-size: 31px 31px;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 16px;
        }

        .search-field {
            height: 72px;
            width: 100%;
            max-width: 100%;
            border: 1px solid #191919;
            border-radius: 3px;
            padding: 1.25rem 4.5rem;
        }
    }

    .clear-input {
        width: 16px;
        height: 16px;
        position: absolute;
        right: 16px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        background-image: url(assets/images/icons/clear.svg);
        background-size: 16px 16px;
    }
    
}

.container--search {
    min-height: calc( 100vh - 280px );

    @media(max-width: 1023px){
        min-height: 100%;
    }
}