.social-media {

    li {
        margin: 0 20px;
        position: relative;
        width: 2rem;
        height: 2rem;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }

    &--footer {
        font-size: 0;

        li {
            margin: 0 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.social-media-block {
    margin: 2rem 0;

    li {
        &:first-child {
            margin-left: 0;
        }
    }
}