.page-template-template-tiktok {

    .post-content {

        h1.text-h1 {
            @apply uppercase text-center;
            color: #BC3428;
            font-size: 64px;
            line-height: 64px;

            @media(max-width: 768px){
                font-size: 34px;
                line-height: 34px;
            }
        }

        ul {
            list-style: none;
            list-style-type: none;
            display: block;
            max-width: 450px;
            margin: 0 auto;

            li {
                position: relative;
                padding-left: 28px;

                
                
                &:before {
                    content: '';
                    background-image: url(assets/images/icons/checkmark.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 16px 12px;
                    width: 24px;
                    height: 24px;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }

                @media(max-width: 768px){
                    font-size: 18px;
                    line-height: 30px;

                    &:before {
                        top: 2px;
                    }
                }
            }
        }
        
    }
    
    .af-textWrap {

        input {
            @media(max-width: 768px){
                text-align: center !important;
            }
        }
    }
}